body {
  font-family: 'Arial', sans-serif;
}

.logo {
  width: 210px;
  height: auto;
}

.other-hero-section{
  background-image: url('../images/temple.jpg');
  height:10vh;
}

.services h5 {
  color: #ff9800;
}
